= render partial: 'layouts/modal_crud'
:javascript
  var hops_modal;
  var zips_modal;

  $(document).ready(function(){
    hops_modal = new ModalCRUD({});
    zips_modal = new ModalCRUD({

    });
  });
.row-fluid
  .span12.text-right
    %br
    = submit_tag("Find hopper by hop", :class=>"btn btn-success", :onclick=>'search_hop()' )
    = submit_tag("Find hopper by zip", :class=>"btn btn-success", :onclick=>'search_zip()' )
#container





