= render partial: 'layouts/modal_crud'
:javascript
  var hops_modal;
  var zips_modal;

  $(document).ready(function(){
    hops_modal = new ModalCRUD({});
    zips_modal = new ModalCRUD({

    });
  });
.row-fluid
  .span12.text-right
    %br
    = submit_tag("Find hopper by hop", :class=>"btn btn-success", :onclick=>'search_hop()' )
    = submit_tag("Find hopper by zip", :class=>"btn btn-success", :onclick=>'search_zip()' )
#container






-#
-#    <table class="pull-right"  >
-#      <tr>
-#        <td class ="span4">By hop id</td>
-#        <td class ="span4">By zip</td>
-#      </tr>
-#      <tr>
-#        <td><%= text_field_tag(:hop_id, nil, :class=>"input-mini", :id=>"findhop")%></td>
-#        <td><%= text_field_tag(:zip, nil, :class=>"input-mini", :id=>"findzip") %></td>
-#      </tr>
-#      <tr>
-#        <td><%= submit_tag("Find hopper", :class=>"span9 pull-right" ) %></td>
-#      </tr>
-#    </table>
-#
-#
-#
-#<fieldset>
-#
-#
-#
-#  <% if !@users.blank? %>
-#  <table class="table-bordered">
-#
-#    <tr>
-#      <td class ="span4">User id</td>
-#      <td class ="span4">User name</td>
-#      <td class ="span4">email</td>
-#      <td class ="span4">zip</td>
-#    </tr>
-#    <% @id  = [] %>
-# <% for i in @users do %>
-#      <% @id << i.id %>
-#    <tr>
-#      <td class ="span4"><%= i.id %></td>
-#      <td class ="span4"><%= i.user_name %></td>
-#      <td class ="span4"><%= i.email  %></td>
-#      <td class ="span4"><%= i.zip  %></td>
-#    </tr>
-#  <% end %>
-#
-#  </table>
-#  <% else %>
-#      <h3>Not Found</h3>
-#
-#  <% end %>
-#
-#</fieldset>
-#
-#<% if !@users.blank? %>
-#  <%= button_to "Email to list", admin_messages_email_tool_path({"id"=>@id}),:class=>"span4 btn btn-success pull-right"  %>
-# <br />
-#  <%= button_to "Messages to list", admin_messages_message_tool_path({"id"=>@id}) , :class=>"span4 btn btn-success pull-right"  %>
-#
-#  <%= link_to("Export file to Exel", admin_hoppers_export_to_excel_path(:id => @id, :format => 'xls'),  :class=>"span4 btn btn-success" ) %>
-#
-#  <%= link_to("Export file to PDF",  admin_hoppers_hopper_list_path(:id =>@id, :format => 'pdf'),:method => 'post',  :target => '_blank', :class=>"span4 btn btn-success" ) %>
-#  <% end %>
-#
-#<div class="modal hide fade in" id="myModalzip" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
-#  <div class="modal-header" >
-#  </div>
-#  <div class="modal-body">
-#    <div id="myModalname" class="example cursor">
-#
-#    </div>
-#  </div>
-#  <div class="modal-footer">
-#
-#  </div>
-#</div>
-#
-#<div class="modal hide fade in" id="myModalhop" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
-#  <div class="modal-header" >
-#  </div>
-#  <div class="modal-body">
-#    <div id="myModalid" class="example cursor">
-#
-#    </div>
-#  </div>
-#  <div class="modal-footer">
-#  </div>
-#</div>