= stylesheet_link_tag 'speech_bubbles', media: :all
:javascript
  function synchronize_messages(friend_id){
  //    $('body').append($('#last_sync_date').val());
      $.ajax({
          url: '/messages/synchronize',
          data: {last_sync_date: $('#last_sync_date').val(),
                 friend_id: friend_id},
          type: 'POST',
          error: function(err){
          },
          success: function(data){
              $('#last_sync_date').remove();
              $('#messages').append(data);
              $("html, body").animate({ scrollTop: $(document).height() }, 1000);
          }
      });
  }
  $(document).ready(function(){
      setInterval("synchronize_messages(#{@friend.id})", 5000);
  });
%h3{style: 'color: darkgreen'}
  = full_user_name(@friend)
#messages
  = render partial: 'messages'
%hr
  .row
    .span8
      %textarea#new_message.triangle-border.right{style: 'border-color: yellow; width: 100%'}
    .span4.text-right
      %button.btn.btn-large.btn-success{style: 'margin-top: 15px;', onclick: 'send_message(' + @friend.id.to_s + ')'}
        Send
