!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => "Content-Type"}
%body
  = render partial: "template_#{@message.template_id.to_i}"
  %div
    %a{href: 'http://cashhoppers.com/users/sign_in', class: 'services facebook', :style=>'',onclick: "$(this).css('opacity', '0.9')"}
      UNSUBSCRIBE
    (Go to your profile ('my page') page and uncheck checkbox 'Send email notification')