!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => "Content-Type"}
%body
  %p
    Sent From
    = @message.sender_id ? @message.sender.email : 'default@cashhoppers.com'
  = render partial: "template_#{@message.template_id.to_i}"
