!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => "Content-Type"}
%body
  = render partial: "template_#{@message.template_id.to_i}"
  %div
    =link_to 'UNSUBSCRIBE', 'http://ec2-54-227-42-108.compute-1.amazonaws.com/users/sign_in'
    (Go to your profile ('my page') page and uncheck checkbox 'Send email notification')