%ul.nav.nav-tabs{style: 'margin-bottom: 0px'}
  %li{:class => ('active' if params[:tab] == :friends)}
    =link_to 'Friends', friends_path
  %li{:class => ('active' if params[:tab] == :find_friends)}
    = link_to 'Find', find_friends_path

= yield