%ul.nav.nav-tabs
  %li{:class => ('active' if params[:tab] == :friends)}
    =link_to 'Friends', friends_path
  %li{:class => ('active' if params[:tab] == :find_friends)}
    = link_to 'Find friends', find_friends_path
  %li
    %a{href: "#"}
      Invite facebook friends
  %li
    %a{href: "#"}
      Invite twitter friends
  %li
    %a{href: "#"}
      Invite google + friends