
.grid
  = grid(@hops_grid, upper_pagination_panel: true) do |g|
    - g.blank_slate content_tag(:div, 'No records found')
    - g.column name: '', attribute: 'id', filter: false do |hop|
      - raw "<i #{((hop.hop_tasks.count == 0 || hop.prizes.count == 0 ) ? 'class="icon-warning-sign" style="color: red"' : '')}></i>"
      - raw "<i #{((hop.time_end < DateTime.now && !hop.close ) ? 'class=" icon-exclamation-sign" style="color: red"' : '')}></i>"

    - g.column name: 'Name', attribute: 'name'
    - g.column name: 'Producer', attribute: 'user_name', model: User do |hop|
      - link_to(hop.producer.user_name, user_path(hop.producer)) if  hop.producer
    - g.column name: 'Price', attribute: 'price'
    - g.column name: 'Jackpot', attribute: 'jackpot'
    - g.column name: 'Hop photos' do |hop|
      - link_to 'photo', admin_hop_photos_path({:hop_id=>hop.id})

    - g.column name: 'Time Start', :attribute => 'time_start', filter: false do |hop|
      - hop.time_start.to_datetime.strftime(format='%Y-%m-%d %H:%M') + ' EST' if hop.time_start
    - unless @tab == 'daily_hops'
      - g.column name: 'Time End', :attribute => 'time_end', filter: false do |hop|
        - hop.time_end.to_datetime.strftime(format='%Y-%m-%d %H:%M') + ' EST' if hop.time_end
    - if @tab == 'current_hops' || @tab == 'archived_hops'
      - g.column name: 'Type', :attribute => 'daily',  filter: false do |hop|
        - hop.daily ? 'Daily': 'Regular'

    - g.column do |hop|
      - link_to('Show', admin_hop_path(hop), class: 'btn btn-mini')
    - if (User.producer?(current_user) || User.admin?(current_user))

      - g.column do |hop|

        -if User.can_edit?(current_user, hop.creator_id) && !(hop.close == true)
          - link_to('Edit', admin_edit_regular_hop_path(hop), class: 'btn btn-mini btn-info')

      - g.column do |hop|
        -if User.can_edit?(current_user, hop.creator_id) && !(hop.close == true)
          - link_to('Destroy', admin_hop_path(hop), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })
      - unless @tab == 'archived_hops'
        - g.column do |hop|
          -if User.can_edit?(current_user, hop.creator_id) && !(hop.close == true)
            - link_to('Close', admin_close_hop_path(hop), method: :post, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })
      %br

