= render partial: 'hops_list'
%br
.row-fluid
  .span6.text-left
    -unless @hops_grid.blank?
      = link_to("Export file to PDF", admin_print_hop_list_to_pdf_path(:format => 'pdf', :id => 'current'),:method => 'post',:target=>"_blank",  :class=>"btn btn-success" )
  .span6.text-right
    -unless @hops_grid.blank?
      = link_to("Export file to Excel", admin_print_hops_to_excel_path(:format => 'xls', :id => 'current'),:method => 'post',  :class=>"btn btn-success" )

