= render partial: 'hops_list'
%br
.row-fluid
  .span12.text-right
    = link_to("Export file to PDF",   admin_current_hops_path(:format => 'pdf'),:method => 'get',:target=>"_blank",  :class=>"btn btn-success" )
%br
.row-fluid
  .span12.text-right
    = link_to("Export file to Excel",   admin_current_hops_path(:format => 'xls'),:method => 'get', :class=>"btn btn-success" )