-if !@hop_task_photo.blank?
  .photo-backgraund
    .carousel.slide#hopPhotos
      .carousel-inner.text-center
        .item.active
          =image_tag @hop_task_photo.first.photo.url

        - @hop_task_photo.each do |task|
          .item

            =image_tag task.photo.url

      %a.carousel-control.left{"data-slide" => "prev", :href => "#hopPhotos"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#hopPhotos"} ›
    .row-fluid.banner
      .span5.text-right#logo{:style=> ' max-height: 100px'}
        = image_tag @hop.logo.url , :style=> 'max-width: 100%; max-height: 100%'
      .span7#text
        =@hop.name
        %br
        =@hop.time_start.to_datetime.strftime(format='%Y-%m-%d %H:%M') + ' EST'
-else
  .text{:style=>'position: absolute; top: 40%; left: 40%'}
    .alert-error
      %h3
        NO PHOTOS

%br
%br
- if current_user
  .row-fluid
    .span4
    .span4.text-center
      =link_to 'My page', user_path(current_user.id)
    .span4
- if current_user
  .row-fluid
    .span4
    .span4.text-center
      =link_to 'Download photos as zip',  admin_export_photos_zip_path({:id =>@hop_task_photo}), :class => 'btn btn-success'
    .span4
