.row-fluid
  .text-right
    =form_tag({:controller => 'hops', :action => 'import_exel'}, :multipart=>true) do
      Select an Excel File :
      = file_field_tag 'excel_file'
      = submit_tag 'load', class: 'btn btn-primary btn-success'

%h2
  .row-fluid
    .text-left.span8
      New daily hop
    .text-right.span4
      = link_to 'Back', admin_daily_hops_path, class: 'btn btn-info'
= render 'form'
