.navbar
  .navbar-inner
    %ul.nav
      %li.divider-vertical
        = link_to 'email' ,   admin_messages_email_tool_path
      %li.divider-vertical
        = link_to 'message' ,   admin_messages_message_tool_path
      %li.divider-vertical
        = link_to 'text'
= yield