-#<h2>Email list</h2>
-# <table class="table">
-#     <tr>
-#       <td>Email from</td>
-#        <td>Receiver id</td>
-#        <td></td>
-#   </tr>
-#       <% if !@emails.blank? %>
-#         <% for i in @emails do %>
-#           <tr>
-#             <td><%= i.email_author %></td>
-#             <td><%= i.receiver.email if i.receiver %></td>
-#             <td><%= link_to 'Show', admin_messages_show_path(:id=> i.id) %>
-#                 <%= link_to 'Destroy', admin_messages_destroy_path(:id => i.id), :method => 'delete', :data=> { confirm: 'Are you sure?' } %>
-#
-#             </td>
-#
-#           </tr>
-#
-#         <% end %>
-#       <% else %>
-#         <h2>Not found</h2>
-#       <% end %>
-#  </table>
-#
-#<%= link_to "Back", admin_messages_email_tool_path %>