-#<h2>Messages list</h2>
-#<table class="table">
-#  <tr>
-#    <td>Message from</td>
-#    <td>Receiver email</td>
-#    <td>Send on</td>
-#    <td></td>
-#  </tr>
-#    <% if !@messages.blank? %>
-#      <% for i in @messages do %>
-#          <tr>
-#            <td><%= i.email_author %></td>
-#            <td><%= i.receiver.email  if i.receiver%></td>
-#            <td><%= i.send_at %></td>
-#            <td>
-#              <%= link_to 'show', admin_messages_show_path(:id=>i.id) %>
-#              <%= link_to 'Destroy', admin_messages_destroy_path(:id => i.id), :method => 'delete', :data=> { confirm: 'Are you sure?' } %>
-#
-#
-#            </td>
-#          </tr>
-#      <% end %>
-#     <% else %>
-#        <tr>
-#        <h1>Not Found</h1>
-#        </tr>
-#     <% end %>
-#
-#
-#</table>
-#
-#<%= link_to "Back", admin_messages_message_tool_path %>