.grid
  = grid(@messages_grid, upper_pagination_panel: true) do |g|
    - g.blank_slate content_tag(:div, 'No records found')
    - g.column name: 'Text', attribute: 'text'
    - g.column name: 'Receiver', attribute: 'user_name', model: User do |message|
      - link_to(full_user_name(message.receiver), user_path(message.receiver)) if  message.receiver
    - g.column name: 'Created at', attribute: 'created_at', filter: false
    - g.column name: 'Schedule date', attribute: 'schedule_date', filter: false
    - g.column name: 'Synchronized', attribute: 'synchronized'
    - g.column do |message|
      - link_to('Remove', admin_messages_destroy_message_path(id: message.id), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' })


