-subscribe =  (current_user.user_settings && current_user.user_settings.unsubscribe)? false : true
= check_box_tag :unsubscribe, true, subscribe ,  :subscribe=> subscribe, :user_id => current_user.id,
                :onchange => "unsubscribe_user(this);"
Send email notification