
.row-fluid
  .span12
    .top-sign
      = succeed "HOPPERS" do
        %span.weight CASH
      FOR
      %span.weight BUSINESS


.row-fluid
  .span6

    %br
    %br
    .weight
      Give potential customers a reason to visit your business.
    There is nothing more valuable to a business than customer traffic, and nothing genet a:.es traffic like CashHoppers! When your business is a HOP destination, every CASHHOPPER has a GREAT incentive to visit your business or trade show booth TO WIN CASH"
    %br
    %br
    .weight
      Here are just some of the ways your business can profit from CASHHOPPERS:
    %span.red
      SPONSOR A DAILY  HOP
    \- On a local, regional or national level. Offer a good cash prize, and get players into a retail store to take a pic of your products, people or anything else that would look great on social media! For smaller, local businesses, we can target a special HOP to players in your area only.
    %br
    %br
    %span.red
      PARTICIPATE IN A TRADE SHOW HOP
    \- If you exhibit at trade shows, there's a good chance you'll have the opportunity to participate in a CASHHOPPERS HOP. Make sure you participate - because CASHHOPPERS is proven to drive more show visitors to participating booths. (And if your trade show doesn't have plans for a HOP this year, let us know and well contact them.)
    %br
    %br
    %span.red
      ADVERTISE TO CASHHOPPERS
    \- Whether it's a Daily HOP, a trade show HOP or any other private HOP, CASHHOPPERS gives you the opportunity to deliver your message to players. There are many different levels of advertising and all are very affordable.
    %br
    %br
    Get your business hopping!
    %br
    Talk to the CASHHOPPERS team today.
    %br
    CASH HOPPERS
    %br
    (317) 572-8002
    %br
    =link_to 'HopMaster@CASHHOPPERS.com'
    %br
    =link_to 'DOWNLOAD IN-APP AD SPECIFICATIONS'
  .span6
    =image_tag('/assets/business_info.png', :class=> 'business-info')

.row-fluid
  .span12
    .text-center
      %a{:href=> root_path  }
        =image_tag('/assets/arrow.jpg')
.page-divider
%br