.custom-pg.first-page
.page-divider
.custom-pg.gray-page
  %h2{:id=>"gray-page"}
.page-divider
  %h1
    TEXT
  %video-controls
    %p
      Your browser does not support the video tag
      = video_tag ["video/media.mp4"],  :size => "320x240", :controls => true,:type=>"video/mp4", :autobuffer => true

.custom-pg.yellow-page
  %h2{:id=>"yellow-page"}
.page-divider
.custom-pg.what-page
  %h2{:id=>"what-page"}
.page-divider
.custom-pg.business-page
  %h2{:id=>"business-page"}
.page-divider
.custom-pg.events-page
  %h2{:id=>"events-page"}
.page-divider
