.custom-pg.first-page
.page-divider
.custom-pg.gray-page
  %h2{:id=>"gray-page"}
.page-divider
  %h1
    TEXT
  %video-controls
    %source{src: 'video/Life.mp4', :type=>'video/mp4', :codecs=>"avc1.42E01E, mp4a.40.2"}
    %p
      Your browser does not support the video tag
.custom-pg.yellow-page
  %h2{:id=>"yellow-page"}
.page-divider
.custom-pg.what-page
  %h2{:id=>"what-page"}
.page-divider
.custom-pg.business-page
  %h2{:id=>"business-page"}
.page-divider
.custom-pg.events-page
  %h2{:id=>"events-page"}
.page-divider
