:css
  .text-center.back-button-info a:hover{
    opacity: 0.6;
  }


.body
  .row-fluid{style: 'margin-top: 40px;'}
    .span12.text-center
      = image_tag 'template_1.jpg',  class: 'logo'

  .row-fluid
    .span12
      .text-center
        .top-sign.page-text
          %span.weight TERMS
          &
          %span.weight CONDITIONS
      .page-text
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec venenatis nisi, a luctus justo. Sed condimentum massa id velit malesuada, at consectetur nibh pretium. Sed aliquam odio sit amet mauris venenatis, et venenatis odio mattis. Eham ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus justo. Sed condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Eham ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit arnet, consectetur adipiscing elit. Morbi nec venenatis nisi, a luctus junta. Sect condirnentum manna id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec venenatis nisi, a luctus justo. Sect condimentum massa id velit malesuada, at consectetur nibh prehum. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisl, a luctus junta. Sect condimentum manna id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus justo. Sect condirnentum manse id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tell us urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis flint, a luctus junta. Sed condimentum manna id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tartar lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id vela vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non ternpus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenahs nisi, a luctus junta. Sect condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam onto sit amet mauris venenatis, et venenatis odio maths. Etiam ut tartar lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit arnet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus junta. Sect condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis odio maths, Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id vefit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus junta. Sect condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam oclio sit amet mauris venenatis, et venenatis odio maths. Etiam ut tartar lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus justo. Sect condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet mauris venenatis, et venenatis onto maths. Etiam ut tortor lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id velit vehicula vehicula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mora nec venenatis nisi, a luctus junta. Sect condimentum massa id velit malesuada, at consectetur nibh pretium. Sect aliquam odio sit amet rnauris venenatis, et venenatis odio maths. Etiam ut tartar lacinia magna iaculis rhoncus a vestibulum purus. Nunc a vehicula arcu. Quisque sit amet semper magna. Donec condimentum mauris id yea vehicula veh cula. Suspendisse potenti. Praesent ultrices tellus urna, non tempus enim aliquam sit amet. Pellentesque laoreet porta tellus, eu condimentum est.
        %br
        %br
  .row-fluid
    .span12
      .text-center.back-button-info
        %a{:href=> root_path, :onclick => "$(this).css('opacity', '1');"  }
          =image_tag('/assets/arrow.jpg')
  .page-divider
  %br