.row-fluid
  .span12
    %h1.top-sign.page-text
      ATTENTION
      %span.weight EXHIBITORS
.trade-list
  .row-fluid
    .span12

      .span6.page-text
        %h4>
          %b Give potential customers a GREAT reason to visit your booth.
        If you’re exhibiting at a trade show where CASHHOPPERS is being played, you cannot afford NOT to participate. CASHHOPPERS
        has been proven to drive more people to the booths that participate in the game.
        %b
          Participating is SIMPLE. In fact, we handle everything. You just tell us the following:
        %ul
          %li
            How many items you want on the HOP list.
          %li
            Specific giveaways or promotions you'd like to include.
          %li
            How many ads you’d like show visitors to see.

        %br
          We will set it up for you. We’ll deliver a list of players who visited your booth, as well as their email addresses. And we’ll give you
          copies of all the photos taken at your booth, which are yours to use for your marketing efforts!
        %br
        Get your tradeshow booth hopping!
        %br
        Talk to the CASHHOPPERS team today.
        %br
        CASHHOPPERS
        %br
        (317) 572-8002
        %br
        =link_to 'HopMaster@CASHHOPPERS.com'
        %br
        =link_to 'DOWNLOAD IN-APP AD SPECIFICATIONS'
        %br
        =link_to 'DOWNLOAD TRADESHOW EXHIBITOR FORM'
  .row-fluid
    .span12.page-text
      %h1.top-sign
        ATTENTION
        %span.weight TRADE SHOW PRODUCER
  .row-fluid
    .span12.page-text
      .span5.text-left.page-text

        %br
          Better traffic for your vendors. More fun for your attendees.
          And MORE POTENTIAL PROFIT!
          That’s what CASHHOPPERS can mean to your trade show.
          Better traffic, and fun show elements that engage and entertain the people in attendance
          are key values you must deliver with every show. CASHHOPPERS delivers both.
          Exhibitors increase booth traffic and guest interest. Players get into the competitive
          spirit and scramble to WIN CASH and other prizes.
        %br
          You can also enjoy a PROFIT from CASHHOPPERS. Instead of paying for a giant,
          distracting, and expensive trade show mobile app… use CASHHOPPERS to offer
          your vendors marketing and advertising opportunities they have never had before.

        %br
          You earn a profit on every vendor that participates, as well as a commission on all
          in-show advertising sales. Once you reach the minimum participation levels,
          everything after that brings more profit to you!

        %br
          %b GOT BIG SCREEN CAPABILITIES?
          Hook a big screen up to CASHHOPPERS during your show, and we can display a
          real-time montage of photos AS THEY ARE BEING SUBMITTED! Attendees LOVE
          seeing themselves on the big screen and vendors LOVE seeing their products and
          people up there too… so if you have the capabilities, tell us you want the
          CASHHOPPERS Big Screen Option

        %br
        Get your tradeshow booth hopping!
        %br
        Talk to the CASHHOPPERS team today.
        %br
        CASHHOPPERS
        %br
        (317) 572-8002
        %br
        =link_to 'HopMaster@CASHHOPPERS.com'
        %br
        =link_to 'DOWNLOAD IN-APP AD SPECIFICATIONS'
        %br
        =link_to 'DOWNLOAD TRADESHOW EXHIBITOR FORM'
      .span4.trade_img
        .text-center
          =image_tag('/assets/trade_show.jpg', style: 'align: left')


.row-fluid
  .span12
    .text-center
      %a{:href=> root_path  }
        =image_tag('/assets/arrow.jpg', :class=> 'link-back')

.page-divider
%br