.grid{
  overflow-x: auto;
  table{
    input, select{
      width: 60px !important;
    }
  }
}

.hops-form{
  tr > td:first-child{
    text-align: right;
    padding-right: 20px;
  }
  td{
    vertical-align: top;
  }
}

body#fone{
  padding-right: 0%;
  background-color: gainsboro;
}

#hopPhotos{
  width: 100%;
  height: 100%;
  //border: 2px double black;
  //margin: 0 0;
  //padding: 0 0;
  padding-top:  35px;
  a.carousel-control.left{
    left:10%

  }
  a.carousel-control.right{
    right: 10%;
  }
  .carousel-inner{
    width: 700px;
    height: 100%;
    margin:0% auto;
    //border: 2px double red ;

    .item{
      height: 100%;
      //border: 2px double yellow;

      img{
        max-width: 600px;
        height: 600px;

        margin:0% auto;
      }
    }
  }
}
.row-fluid.banner{
  width: 700px;
  height: auto;
  margin: 0% auto;
  #logo{
    img{
      //border: 2px double red ;
      max-width: 400px;
      max-height: 400px;
    }
  }
  #text{
    color: green;
    font-size: 200%;
    line-height: 1.5;
  }
}

@media(min-width:780px)and(max-width: 900px){
  .photo-backgraund{
    height: 100%;
    background-color: gainsboro;
  }
  body#fone{
    padding: 0% 0%;

    background-color: gainsboro;
  }
  #hopPhotos{
    a.carousel-control.left{
      left:5%

    }
    a.carousel-control.right{
      right: 5%;
    }
    .carousel-inner{

    }

  }
  .row-fluid.banner{
    width: 700px;
    #logo{
      //width:30%;
      //border: 2px double red ;
      display:inline ;
      width:200px;
    }
    #text{
      float:right;
      //border: 2px double black;
      display:inline ;
      font-size: 180%;
      width:430px;
    }
  }
}
@media(min-width:600px)and(max-width: 790px){
  .photo-backgraund{
    height: 100%;
    background-color: gainsboro;
  }
  body#fone{
    padding-right: 0%;
    background-color: gainsboro;
  }
  #hopPhotos{
    a.carousel-control.left{
      left:5%
    }
    a.carousel-control.right{
      right: 5%;
     }


    .carousel-inner{
      width: 580px;
      height: 100%;
      margin:0% auto;
      //border: 2px double red ;


      .item{

        height: 100%;
        //border: 2px double yellow;

        img{
          max-width: 550px;
          height:400px;

          margin:0% auto;
        }
      }
    }
  }

  .row-fluid.banner{
    width: 580px;
    #logo{
      //width:30%;
      //border: 2px double red ;
      display:inline ;
      width:150px;
      img{
        width:200px;
      }
    }
    #text{
      float:right;
      //border: 2px double black;
      display:inline ;
      font-size: 180%;
      width:350px;
    }
  }
}
@media(min-width:400px)and(max-width: 620px){
  .photo-backgraund{
    height: 100%;
    background-color: gainsboro;
  }
  body#fone{
    padding-right: 0%;
    background-color: gainsboro;
  }
  #hopPhotos{
    .carousel-inner{
      width: 380px;

      .item{

        height: auto;
        //border: 2px double yellow;

        img{
          width-max: 380px;
          height: 380px;
        }
      }
      }
  }
  .row-fluid.banner{
    width: 380px;
    #logo{
      display:inline ;
      width: 150px;
        img{
        width:150px;
      }
    }
    #text{
      float:right;
      display:inline ;
      //border: 2px double black;
      font-size:100%;
      width:200px;
    }
  }

}
@media(min-width:200px)and(max-width: 415px){
  .photo-backgraund{
    height: 100%;
    background-color: gainsboro;
  }
  body#fone{
    padding-right: 0%;
    background-color: gainsboro;
  }
  #hopPhotos{
    a.carousel-control.left{
      left:0%
    }
    a.carousel-control.right{
      right: 0%;
    }

    .carousel-inner{
      width: 190px;

      .item{

        height: auto;
        //border: 2px double yellow;

        img{
          width-max: 190px;
          height: 190px;
        }
      }
    }
  }
  .row-fluid.banner{
    width: 190px;
    #logo{
      display:inline ;
      width: 90px;
      img{
        width:90px;
      }
    }
    #text{
      float:right;
      display:inline ;
      //border: 2px double black;
      font-size:65%;
      width:90px;
    }
  }


}@media(min-width:100px)and(max-width: 220px){
  .photo-backgraund{
    height: 100%;
    background-color: gainsboro;
  }
  body#fone{
    padding-right: 0%;
    background-color: gainsboro;
  }
  #hopPhotos{
    .carousel-inner{
      width: 190px;

      .item{

        height: auto;
        //border: 2px double yellow;

        img{
          width-max: 190px;
          height: 190px;
        }
      }
    }
  }
  .row-fluid.banner{
    width: 190px;
    #logo{
      display:inline ;
      width: 90px;
      img{
        width:90px;
      }
    }
    #text{
      float:right;
      display:inline ;
      //border: 2px double black;
      font-size:65%;
      width:90px;
    }
  }


}