.grid{
  overflow-x: auto;
  table{
    input, select{
      width: 60px !important;
    }
  }
}

.hops-form{
  tr > td:first-child{
    text-align: right;
    padding-right: 20px;
  }
  td{
    vertical-align: top;
  }
}
