%ul.nav.nav-tabs
  %li{:class => ('active' if params[:type] == 'RPOU')}
    = link_to 'RPOU', admin_ads_path(type: 'RPOU')
  %li{:class => ('active' if params[:type] == 'RCH')}
    = link_to 'BANNER AD', admin_ads_path(type: 'RCH')
  %li{:class => ('active' if params[:type] == 'FULL')}
    = link_to 'FULL SCREEN', admin_ads_path(type: 'FULL')
= yield