<h1>Editing hop ad</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_ad_path(@hop_ad.id) %> |
<% if @hop_ad.hop %>
    <%= link_to 'Back', admin_hop_path(@hop_ad.hop) %>
<% else %>
    <%= link_to 'Back', admin_ads_path %>
<% end %>

