/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require bootstrap-datetimepicker

 *= require wice_grid
 *= require chosen
 */

 body{
   padding-left: 0px !important;
 }
.header{
  width: 100%;
  z-index: 100;
  background: #027036;
  background: -moz-linear-gradient(top, #009242, #027036); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, letf bottom,
  color-stop(0%,#009242), color-stop(100%,#027036));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #009242, #027036);
  background: -o-linear-gradient(top, #009242, #027036); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009242, #027036); /* IE10 */
  background: linear-gradient(top, #009242, #027036); /* CSS3 */
  position: fixed;
  width: 100%;
 // max-height: 100px;
  top: 0px;
  span.icon-bar{
    background-color: #088A08;
    display: block;
    width: 15px;
    height: 0.1px;
    padding: 1px 6px 3px;
    border: 2px single black;

  }

  .header-content{
    padding: 0% 0%;
    margin:  auto;
    height: auto;
    .header-left{
      max-height: 140px;
      max-width: 1000px;
      float: left;
      display: table;
      padding-left: 3%;
      ul{
        padding-top: 13px;
        vertical-align: middle;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
          color: white;
          border-right: 2px solid white;
          padding: 0px 5px 0px 5px;
          border-left: 0px;
        }

        a{
          color: #f5f5f5;
          li:last-child{
          border-right: 0px;
            font-size: 12px;
          }
        }
      }
    }
  }
  img{
    display: block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  //.button-container.text-right .btn-group> a img{
  //  width: 200%;
  //  //height: auto;
  //  margin-top: 5%;
  //  margin-left:0% ;
  //margin-right:0% ;   ('form').css('margin','0% 0%')
  //}
  form{
    margin: 0% 0%;
  }
  .header-right .button-container.text-right .btn-group input.btn-warning{
    margin-top: 5%;
    margin-left:0% ;
    margin-right:0% ;
    margin-bottom:0% ;
  }

}
.row-fluid .header-left.span6{
  width:80%;
  margin: 3px;
}

.top-sign{
  font-family: 'topfont', sans-serif ;
  text-align: center;
  font-size: 100%;
  opacity: 0.7;
  line-height: 1.2;
  font-weight: 200;
}

.weight{
  font-weight: bold ;

}

.row-fluid .header-right.span6{
  width:15%;

}
//.row-fluid .header-right.span6 .btn-group>a img{
//  width:160px;
//  margin: 5% 3%;
//}

.btn-group.link{
  display: none;
}

.bottom-menu{
  text-align: center;
  li{
    font-size: 14px;
    margin-top: 10%;
    display: inline;
    border-left: 2px solid #00ced1;
    padding-left: 2px;
    padding-top: 2px;
  }
  li:first-child{
    border-left: 0px;
  }

  .dropdown-menu.button#dropdown{
    left: -30%;


  }
  .header{
  width: 80%;
  }
  ul.dropdown-menu.button a img{
    width:100%;
  }



}

@media(min-width:100px)and(max-width: 900px){

  .btn-group.link{
    display: block;
  }

  .span12.controls-row .header-left.span6{
   padding: 0 0;
  }


  .button-container.text-right .btn-group ul li a img{
    width:100%;

  }

  .navbar.navbar-inverse.navbar-fixed-top{
    position: fixed;
    top:0;

  }
  .navbar-inner{
    width: 95%;
  }


  .row-fluid .header-right.span6{
    width:30%;
    display:inline;
  }
  .row-fluid .header-left.span6{
    width:60%;
    display:inline;
  }

  .menu-full-screen{
    display: none;
  }

  .row-fluid .header-right.span6 .btn-group>a img{
    width:100px;
  }

  .dropdown-menu.button{
    left: -25%;
    min-width: 150px;
    width: 200px;
  }

  .header .header-content .header-left ul{
    padding:0% 0%;
    left: -1px;
    li {
      border: none;
      padding:0% 0%;

    }
  }
  img.phone-button{

    margin-top: 5%;
    width: 80%;

  }
  #download-button{
    margin-top: 1%;

  }



}

@media(min-width:900px)and(max-width: 1050px){
  .header{
    .header-content{
      .header-left{
        padding-left: 1%;
        ul{
          li{


          }
        }

      }
    }
  }
}
@media(min-width:1030px)and(max-width: 1500px){
  .header{
    .header-content{
      .header-left{
        padding-left: 3%;


      }
    }
  }
}