/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require bootstrap-datetimepicker
 *= require wice_grid
 */





    body fieldset{

    margin-top: 20%;
}

.container-grid{
     margin-top: 160px;
}
.custom-pg{
        /* background-image: url('cahshop1.jpg'); */
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*background-size: cover;*/
        min-height: 600px;
}
.first-page{
    background-image: url('cahshop1.jpg');
    background-size: cover;
}
.yellow-page{
      background-color: yellow;
}
.gray-page{
      background-color: gray;
}

.page-divider
{
    background: white;
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjUxNzI0MSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjODc4Nzg3IiAvPjxyZWN0IHg9Ii0zNyUiIHk9Ii03NCUiIHdpZHRoPSIxNzQlIiBoZWlnaHQ9IjM0OCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 728, color-stop(51.7241%, #ffffff), color-stop(100%, #878787));
background-image: -webkit-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
background-image: -moz-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
background-image: -ms-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
background-image: -o-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
background-image: radial-gradient(farthest-side at center bottom, #ffffff 90%, #878787 174%);

    padding: 20px;
  }

.header{
  z-index: 100;
  background: #027036;
  background: -moz-linear-gradient(top, #009242, #027036); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0%,#009242), color-stop(100%,#027036));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #009242, #027036);
  background: -o-linear-gradient(top, #009242, #027036); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009242, #027036); /* IE10 */
  background: linear-gradient(top, #009242, #027036); /* CSS3 */
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;

  .header-content{
    width: 950px;
    margin: 0 auto;
    height: 70px;
    .header-left{
      height: 70px;
      width: 600px;
      float: left;
      display: table;
      ul{
        vertical-align: middle;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
          color: white;
          border-right: 2px solid white;
          padding: 0px 5px 0px 5px;
        }
        a{
            color: #f5f5f5;
        }
        li:last-child{
          border-right: 0px;
        }
      }
    }

    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 330px;
      float: right;
      .button-container{
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
  img{
    display: block;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

}



