/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require bootstrap-datetimepicker
 *= require wice_grid
 */
html, body, head, header{
    height: 100%;
    width: 100%;
}
    body fieldset{
    margin-top: 20%;
}
.container-grid{
    margin-top: 0px;
}
.custom-pg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    b{
        font-family: 'MS Sans Serif', Geneva, sans-serif;
        font-size: 0.1em;
        text-align: center;
        text-shadow: 0.01em 0.01em 0.05em gray;
        vertical-align: middle;
        color: gray;
        font-size: 30px;
        max-width: 550px;
    }
    p{
        align: center;
        font-family: 'MS Sans Serif', Geneva, sans-serif;
        font-size: 0.1em;
        text-align: center;
        text-shadow: 0.01em 0.01em 0.05em gray;
        vertical-align: middle;
        color: gray;
        font-size: 15px;
    }
}
table{
    margin:0 27%;
    width: 700px;
    height: 600px;
    text-align: center;

    tr{
    width: 100%;
    td{
    padding:10px 10px;
    }
  }
}
embed{
    width: 550px;
    height: 300px;
}

.first-page{
  margin-top: 69px;
  background-image: url('firstpage.jpg');
  .phone{
    position: relative;
    left: 50%;
    width: xxx;
    margin-left: -460px;
    top: 33%;
    height: yyy;
    margin-top: -yyy;
    width: 915px;
    height: 425px;
    background-image: url('phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel.slide{
  margin-left:14.1%;
  padding-top: 25px;
  width: 658px;
  position: center;
  height: 370px;
  .carousel-inner{
    height: 100%;
    width: 100%;
    .item{
      width:  100%;
      height: 100%;
    }
  }
}
}
a.carousel-control.left{
    margin-top: 2%;
}
a.carousel-control.right{
    margin-top: 2%;
}
.social-links{
    margin: 0 42%;
    width: 500px;
    height: 18px;
}
.sign-up{
    margin: 0 42%;
}
.gray-page{
      background-color: #E9EEF4;
}
.yellow-page{
      background-color: #FAEBD6;
}
.what-page{
      background-color: #FFFFFF;
}
.business-page{
      background-color: #FFFFFF;
}
.events-page{
      background-color: #FFFFFF;
}
.page-divider
{
    margin: top;
    background: white;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjUxNzI0MSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjODc4Nzg3IiAvPjxyZWN0IHg9Ii0zNyUiIHk9Ii03NCUiIHdpZHRoPSIxNzQlIiBoZWlnaHQ9IjM0OCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 728, color-stop(51.7241%, #ffffff), color-stop(100%, #878787));
    background-image: -webkit-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
    background-image: -moz-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
    background-image: -ms-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
    background-image: -o-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
    background-image: radial-gradient(farthest-side at center bottom, #ffffff 90%, #878787 174%);
    padding: 1%;
}
.header{
  z-index: 100;
  background: #027036;
  background: -moz-linear-gradient(top, #009242, #027036); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, letf bottom,
  color-stop(0%,#009242), color-stop(100%,#027036));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #009242, #027036);
  background: -o-linear-gradient(top, #009242, #027036); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009242, #027036); /* IE10 */
  background: linear-gradient(top, #009242, #027036); /* CSS3 */
  position: fixed;
  width: 100%;
  max-height: 100px;
  top: 0px;

  .header-content{
    width: 100%;
    margin:  auto;
    height: 70px;
    .header-left{
      max-height: 140px;
      width: 700px;
      float: left;
      display: table;
      ul{
        padding-top: 20px;
        padding-left: 200px;
        vertical-align: middle;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
          color: white;
          border-right: 2px solid white;
          padding: 0px 5px 0px 5px;
        }
        a{
          color: #f5f5f5;
          li:last-child{
          border-right: 0px;
          }
        }
      }
    }
    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 330px;
      float: right;
      .button-container{
        padding-right: 450px;
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
  img{
    display: block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}
@media(min-width:100px)and(max-width: 399px){
html,body,head,header{
width: 100%;
height: 100%;
}
   .custom-pg{
    width: 100%;
    height: 100%;
    }
    .first-page{
    margin-top:90px;
    }
    .page-divider{
    width: 100%;
    }
  .header{
  position: fixed;
  max-height: 50%;
  width: 100%;
  margin: 0 auto;
  top: 0px;

  .header-content{
    margin: 0 auto;
    height: 50px;
    .header-left{
      max-height: 140px;
      width: 100%;
      display: table;
      ul{
        padding-top:5px;
        padding-left: 20px;
        text-align: left;
        position: center;
        width: 100%;
        display: table-cell;
        li{
          padding-left: 10px;
          display: inline;
          font-size: 10px;
          font-weight: bolder;
        }
          li:last-child{
          border-right: none;
          }
        }
    }
    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 150px;
      float: left;
      .button-container{
        padding-left: 70px;
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 180px;
        }
      }
    }
  }
}
}
@media(min-width:400px)and(max-width: 599px){
html,body,head,header{
width: 100%;
height: 100%;
}
   .custom-pg{
    width: 100%;
    height: 100%;
    }
.first-page{
  margin-top: 69px;
  background-image: url('firstpage.jpg');
  .phone{
    position: relative;
    left: 50%;
    width: xxx;
    margin-left: -170px;

    height: yyy;
    width: 70%;
    height: 50%;
    background-image: url('phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel.slide{
  margin-left:14.2%;
  padding-top: 13px;
  width: 72%;
  position: center;
  height: 89%;
  .carousel-inner{
    height: 100%;
    width: 101%;
    .item{
      width:  100%;
      height: 100%;
    }
  }
}
}
table{
    margin-left: -6%;
    width: 450px;
    height: 150px;
    text-align: center;

    tr{
    width: 100%;
    td{
    padding:10px 10px;
    }
  }
}
embed{
    width: 350px;
    height: 150px;
}

    .page-divider{
    width: 100%;
    }
  .header{
  position: fixed;
  max-height: 50%;
  width: 100%;
  margin: 0 auto;
  top: 0px;

  .header-content{
    margin: 0 auto;
    height: 50px;
    .header-left{
      max-height: 140px;
      width: 100%;
      display: table;
      ul{
        padding-top:5px;
        padding-left:20px;
        text-align: left;
        position: center;
        width: 100%;
        display: table-cell;
        li{
          float:left;
          display: inline;
          font-size: 10px;
          font-weight: bolder;
        }
          li:last-child{
          border-right: none;
          }
        }
    }
    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 330px;
      float: left;
      .button-container{
        float: right;
        padding-right: 0px;
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
}
}
@media(min-width:600px)and(max-width: 950px){
html,body,head,header{
width: 100%;
height: 100%;
}
   .custom-pg{
    width: 100%;
    height: 100%;
    }
table{
    margin:0 12%;
    width: 700px;
    height: 600px;
    text-align: center;

    tr{
    width: 100%;
    td{
    padding:10px 10px;
    }
  }
}
embed{
    width: 550px;
    height: 300px;
}
.first-page{
  margin-top: 69px;
  background-image: url('firstpage.jpg');
  .phone{
    position: relative;
    left: 50%;
    width: xxx;
    margin-left: -330px;
    top: 35%;
    height: yyy;
    margin-top: -yyy;
    width: 650px;
    height: 300px;
    background-image: url('phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel.slide{
  margin-left:14.2%;
  padding-top: 19px;
  width: 72%;
  position: center;
  height: 87%;
  .carousel-inner{
    height: 100%;
    width: 101%;
    .item{
      width:  100%;
      height: 100%;
    }
  }
}
}
    .page-divider{
    width: 100%;
    }
  .header{
  position: fixed;
  max-height: 50%;
  width: 100%;
  margin: 0 auto;
  top: 0px;

  .header-content{
    margin: 0 auto;
    height: 50px;
    .header-left{
      max-height: 140px;
      width: 100%;
      display: table;
      ul{
        padding-top:5px;
        padding-left: 50px;
        float: left;
        text-align: left;
        width: 100%;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
        }
          li:last-child{
          border-right: none;
          }
        }
    }
    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 330px;
      .button-container{
        float: right;
        padding-left: 0px;
        padding-right:250px;
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
}
}
@media(min-width:951px)and(max-width: 1400px){
html,body,head,header{
width: 100%;
height: 100%;
}
.custom-pg{
width: 100%;
height: 100%;
}
.first-page{
  margin-top: 69px;
  background-image: url('firstpage.jpg');
  .phone{
    position: relative;
    left: 50%;
    width: xxx;
    margin-left: -400px;
    top: 33%;
    height: yyy;
    margin-top: -yyy;
    width: 800px;
    height: 375px;
    background-image: url('phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel.slide{
  margin-left:14.3%;
  padding-top: 13px;
  width: 71%;
  position: center;
  height: 93%;
  .carousel-inner{
    height: 100%;
    width: 101%;
    .item{
      width:  100%;
      height: 100%;
    }
  }
}
}
table{
    margin:0 21%;
    width: 700px;
    height: 600px;
    text-align: center;

    tr{
    width: 100%;
    td{
    padding:10px 10px;
    }
  }
}
embed{
    width: 550px;
    height: 300px;
}
.page-divider{
width: 100%;
}
  .header{
  position: fixed;
  max-height: 50%;
  width: 100%;
  margin: 0 auto;
  top: 0px;

  .header-content{
    margin: 0 auto;
    height: 50px;
    align: center;
    .header-left{
      max-height: 140px;
      width: 100%;
      display: table;
      ul{
        float: left;
        padding-top:5px;
        padding-left:0px;
        text-align: left;
        position: center;
        width: 100%;
        display: table-cell;
        li{
          float:left;
          display: inline;
          font-size: 12px;
          font-weight: bolder;
        }
          li:last-child{
          border-right: none;
          }
        }
    }
    .header-right{
      display: table;
      text-align: right;
      height: 70px;
      width: 330px;
      float: right;
      .button-container{
        float: right;
        padding-right:250px;
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
 }
}


