/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require bootstrap-datetimepicker
 *= require wice_grid
 *= require chosen
 */
.header{
  width: 100%;
  z-index: 100;
  background: #027036;
  background: -moz-linear-gradient(top, #009242, #027036); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, letf bottom,
  color-stop(0%,#009242), color-stop(100%,#027036));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #009242, #027036);
  background: -o-linear-gradient(top, #009242, #027036); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009242, #027036); /* IE10 */
  background: linear-gradient(top, #009242, #027036); /* CSS3 */
  position: fixed;
  width: 100%;
 // max-height: 100px;
  top: 0px;

  .header-content{
    padding: 0% 0%;
    margin:  auto;
    height: auto;
    .header-left{
      max-height: 140px;
      max-width: 800px;
      float: left;
      display: table;
      ul{
        padding-top: 15px;
        vertical-align: middle;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
          color: white;
          border-right: 2px solid white;
          padding: 0px 5px 0px 5px;
        }
        a{
          color: #f5f5f5;
          li:last-child{
          border-right: 0px;
          }
        }
      }
    }
  }
  img{
    display: block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .button-container.text-right .btn-group> a img{
    width: 100%;
    height: auto;

    margin-left:0% ;

    margin-right:0% ;
  }

}
.row-fluid .header-left.span6{
  width:80%;
  margin: 3px;

}

.top-sign{
  font-family: 'topfont', sans-serif ;
  text-align: center;
  font-size: 200%;
  opacity: 0.7;
  line-height: 1.2;
  font-weight: 200;
}

.weight{
  font-weight: bold ;

}

.row-fluid .header-right.span6{
  width:15%;

}
.row-fluid .header-right.span6 .btn-group>a img{
  width:160px;
  margin: 5% 3%;
}


.btn-group.link{
  display: none;
}

.bottom-menu{
  text-align: center;
  li{
    display: inline;
    border-left: 2px solid #00ced1;
    padding-left: 2px;
  }
  li:first-child{
    border-left: 0px;
  }

  .dropdown-menu.button{
    left: -30%;

  }
  .header{
  width: 80%;
  }

}




@media(min-width:100px)and(max-width: 900px){

  .btn-group.link{
    display: block;
  }


  .button-container.text-right .btn-group ul li a img{
    width:100%;

  }

  .navbar.navbar-inverse.navbar-fixed-top{
    position: fixed;
    top:0;

  }
  .navbar-inner{
    width: 95%;
  }






  //.header .header-content .header-left .button-container.text-right> .btn-group>a >img{
  //  width: 200px;
  //
  //}
  .row-fluid .header-right.span6{
    width:30%;
    display:inline;
  }
  .row-fluid .header-left.span6{
    width:60%;
    display:inline;
  }

.menu-full-screen{
    display: none;
  }

  .row-fluid .header-right.span6 .btn-group>a img{
    width:100px;
  }

  .dropdown-menu.button{
    left: -25%;
    min-width: 150px;
    width: 200px;
  }

  .header .header-content .header-left ul{
    padding:0% 0%;
    li {
      border: none;
      padding:0% 0%;

    }
  }



}