/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require twitter-bootstrap-static/sprites
 *= require bootstrap-datetimepicker
 *= require wice_grid
 *= require chosen
 */
.header{
  z-index: 100;
  background: #027036;
  background: -moz-linear-gradient(top, #009242, #027036); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, letf bottom,
  color-stop(0%,#009242), color-stop(100%,#027036));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #009242, #027036);
  background: -o-linear-gradient(top, #009242, #027036); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009242, #027036); /* IE10 */
  background: linear-gradient(top, #009242, #027036); /* CSS3 */
  position: fixed;
  width: 100%;
 // max-height: 100px;
  top: 0px;

  .header-content{
    width: 100%;
    margin:  auto;
    height: auto;
    .header-left{
      max-height: 140px;
      max-width: 500px;
      float: left;
      display: table;
      ul{
        padding-top: 15px;
        vertical-align: middle;
        display: table-cell;
        li{
          display: inline;
          font-size: 12px;
          font-weight: bolder;
          color: white;
          border-right: 2px solid white;
          padding: 0px 5px 0px 5px;
        }
        a{
          color: #f5f5f5;
          li:last-child{
          border-right: 0px;
          }
        }
      }
    }
    .header-right{
      padding-top: -15px;
      display: table;
      height: 70px;
      width: 275px;
      float: right;
      .button-container{
        vertical-align: middle;
        display: table-cell;
        input{
          font-size: 12px;
          font-weight: bolder;
          width: 270px;
        }
      }
    }
  }
  img{
    display: block;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .button-container.text-right a img{
    width: 50%;
    height: auto;
    margin-left:5% ;
    margin-right:0% ;
  }
  .btn-group{
    margin-left:10%;

    margin-top: 1% ;
    margin-botton: 1%;
  }
  .btn-group a.btn{
    width: 100%;
  }

}



.bottom-menu{
  text-align: center;
  li{
    display: inline;
    border-left: 2px solid #00ced1;
    padding-left: 2px;
  }
  li:first-child{
    border-left: 0px;
  }

}
@media(min-width:100px)and(max-width: 600px){
  .btn-group{

    margin-top: 3%;
  }

  .button-container.text-right a img{
    margin-right:-10px% ;
    width: 40%;
   height: auto;
  }

}
