// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, head, header{
    height: 100%;
    width: 100%;

  .custom-pg{
    width: 100%;
    height: 90%;
    padding-top: 3%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
    #carousel2 a{
       margin-top: -20%;
    }
  #firsttop-sign p, #firsttop-sign{
     line-height: 1.5;
     text-align: center;
     color: white;
     height:10%;
  }
 #firsttop-sign{
      font-size: 200%;
 }
 #firsttop-sign p{
      font-size: 50%;
 }
  #firsttop-sign{
    margin:2% ;
  }

  .first-page{
    width: 100%;
    margin-top: 69px;
    display: table;
      .divas1{
        width: 100%;
        height: 80%;
        display: table-cell;
        vertical-align: middle;
        .divas2{

          width: 860px;
          height: 350px;
          margin: 0 auto;
          .phone{

              vertical-align: middle;
              display: table-cell;
              position: relative;
              width: 880px;
              height: 350px;
              background-image: url('phone.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
          }
        }
      }
    }
  .carousel.slide{
    margin-left:12.1%;
    padding-top: 25px;
    width: 650px;
    position: center;
    height: 370px;
    .carousel-inner{
      height: 100%;
      width: 100%;
      .item{
        width: 100%;
        height: 100%;
      }
    }
  }
  a.carousel-control.left{
      margin-top: 2%;
  }
  .gallery{
    position: center;
    width: 100%;

    //border: 4px double black;
   ;
  }
  .gallery-2{
    width: 20%;

    //border: 4px double red;

  }
  a.carousel-control.right{
      margin-top: 2%;
  }
  .social-links{
      display: inline;
      width: 100%;
      text-align: right;
      height: 18px;
      padding-bottom: 3%;
      padding-right: 1%;
      color: white;
      a{
          color: white;
      }
  }

  .gray-page{
    height: 100% ;
        background-color: #E9EEF4;
  }
  .yellow-page{
    height: 100% ;
        background-color: #FAEBD6;
  }
  .what-page{
    height: 100% ;
        background-color: #FFFFFF;
  }
  .business-page{
    height: 100% ;
        background-color: #FFFFFF;
  }
  .events-page{
    height: 100% ;
    background-color: #FFFFFF;
  }
  .page-last{

      height: 50%;
      background-color: #E8FBDB;
  }

  .page-divider
  {
      margin: top;
      background: white;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjUxNzI0MSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjODc4Nzg3IiAvPjxyZWN0IHg9Ii0zNyUiIHk9Ii03NCUiIHdpZHRoPSIxNzQlIiBoZWlnaHQ9IjM0OCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
      background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 728, color-stop(51.7241%, #ffffff), color-stop(100%, #878787));
      background-image: -webkit-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -moz-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -ms-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -o-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: radial-gradient(farthest-side at center bottom, #ffffff 90%, #878787 174%);
      padding: 1%;
  }

  .top-sign{
    font-family: 'topfont', sans-serif ;
    text-align: center;
    font-size: 200%;
    opacity: 0.7;
    line-height: 1.2;
  }


  .last-list{
    font-family:'topfont', sans-serif ;;
    line-height: 1.7;
    text-align: center;
    font-size: 160%;
    opacity: 0.7;
  }
  .video{
    text-align: center;
  }
  video{
    width: 70%;
//    height: 70%;
  }
  .video-text{

    width:60%;
    text-align: justify;
    width: 80% ;
    padding: 5% 10%;

  }
  .weight{
    font-weight: bold ;
  }

  .span6 img{
    width: 60%;
    height: 65%
  }
  .trade{
    width: 60%;
    height: 200%;
    float: right;
  }
  .trade-list{
    background-size:60% auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('trade_show.jpg');  ;
  }
  .trade-list a img.link-back{
    width:10%;
  }
  .red{
    color: red;
  }
  img.business-info{
    margin: 40% auto;
    width: 100%;
  }

}

@media(min-width:100px)and(max-width: 399px){
html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: 100%;

   .custom-pg{
    width: 100%;
    height: 100%;
    }

    .page-divider{
    width: 100%;
    }
    .first-page{
     width: 100%;
     display: table;
      .divas1{
        width: 100%;
        display: table-cell;
        vertical-align: middle;
          .divas2{
            padding: 0% 5%;
            width:90%;;
            height: 20%;
            text-align: center;
            margin: 0 auto;

              .phone{
                margin: 0 auto;


                width:300px;
                height: 130px;
              }
          }
      }
    }
  .carousel.slide{
         margin-left:10.1%;
         width: 78%;
         position: center;
         height: 30%;
         .carousel-inner{
           height: 50%;
           width: 50%;
           .item{
             width:  100%;
             height: 100%;
           }
         }

    }


    a.btn
  {
    font-size: 60%;
   }

  .business-page{
    padding: 2% 2%;
    height: 200% ;
    background-color: #FFFFFF;
  }
  .events-page{
    padding: 1% 2%;
    height:140% ;
    background-color: #FFFFFF;
  }
  .page-divider{
    width: 98%;
  }
  .business, .text-event{
    text-align: justify;
    padding: 0% 5%;

  }
  #business-img{

    width: 50%;
    height: auto;
    padding: 0% 20% ;

  }
  #event-img{
    padding: 2% 2%;
    width: 30%;
    height:auto;
    float: left;
  }

  .top-sign, #firsttop-sign{
    font-size: 130%;
  }
    #social1{

      position: absolute;
      margin-top: 20%;

      bottom: 15px; /* Положение от нижнего края */
      right: 15px;

    }
    #firsttop-sign{
      margin: 0% 5%;
      margin-top: 10%;
      margin-bottom: 5%;
    }

  }
}
@media(min-width:400px)and(max-width: 599px){

  html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: 150%;
    .first-page{
      display: table;
      .divas1{
        width: 100%;
        height: 20%;
        display: table-cell;
        vertical-align: middle;
        .divas2{
          padding: 0% 2%;
          width: 390px;
          height: 90px;
          margin: 0 auto;
          .phone{
            width: 380px;
            height: 160px;
          }
        }
      }
    }
    .carousel.slide{
      margin-left:14.2%;
      padding-top: 19px;
      width: 72%;
      height: 87%;
      .carousel-inner{
        height: 100%;
        width: 99%;
      }
    }

    .business-page{
      padding: 2% 2%;
      height: 250% ;

    }
    .events-page{
      padding: 1% 2%;
      height:200% ;

    }
    .what-page{
      height:200% ;
    }

    .business, .text-event{
      text-align: justify;
      padding: 0% 5%;

    }
    #business-img{

      width: 50%;
      height: auto;
      padding: 0% 20% ;

    }
    #event-img{
      padding: 2% 2%;
      width: 30%;
      height:auto;
      float: left;
    }
    #social1{

      margin-top: 100px ;
      //padding-right: 15%;

    }
    #firsttop-sign{
      margin: 10% ;
    }
  }
}

@media(min-width:600px)and(max-width: 950px){
  html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: 100%;

    .first-page{
      display: table;
      .divas1{
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        .divas2{
          width: 590px;
          height: 300px;
          margin: 0 auto;
          .phone{
            width: 580px;
            height: 280px;
          }
        }
      }
    }
    .carousel.slide{
      margin-left:14.2%;
      padding-top: 19px;
      width: 72%;
      height: 87%;
      .carousel-inner{
        height: 100%;
        width: 101%;
      }
    }

    #business-img{

      width: 30%;
      height: 50%;
      padding: 0% 20% ;

    }
    #event-img{
      padding: 2% 2%;
      width: 30%;
      height:40%;
      float: left;
    }

    .business-page{
      padding: 2% 2%;
      height: 130% ;

    }

    #social1{
      border: 4px double white;
      margin: 5% ;
      //padding-right: 15%;

    }
    #firsttop-sign{
      margin: 5% 5%;
    }
}}
