// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  overflow-x: hidden ;
}
html, body, head, header{
    height: 100%;
    width: 100%;

  .custom-pg{

    width: 100%;
    min-height: 95%;
    padding-top: 3%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


  }
  #last-page .span5{
    padding: 2%;
  }
  #firsttop-sign p, #firsttop-sign{
     line-height: 1.5;
     text-align: center;
     color: white;
     height:10%;
  }
 #firsttop-sign{

      font-size: 200%;
      margin:0% ;
 }
 #firsttop-sign p{
      font-size: 50%;
 }


  .first-page{


    width: 100%;
    margin-top: 15px;

      .divas1{
        width: 100%;
        height: 90%;
        display:block;
        vertical-align: middle;
        .divas2{

          width: 860px;
          //height: 380px;
          margin: 0 auto;
          .phone{

              vertical-align: middle;
              display: block;
              position: relative;
              width: 870px;
              height: 420px;
              background-image: url('phone.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
          }
        }
      }
    }
  .carousel.slide#myCarousel{
    margin: 0% 0%;
    padding: 0% 0%;
    position: absolute;
    display: block;
    height: 370px;
    top: 23px;
    right: 135px;
    height: 370px;
    width: 617px;
    background-color:gainsboro;
    .carousel-inner{
      width: 100%;
      height: 100%;
      .item{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-position: center center;
        img{
          height: auto;
          width: auto;
        }
      }

    }
    a.carousel-control.right{
      top: 50%;
      right:0%;
    }
    a.carousel-control.left{
      left: 2px;
      top: 50%;
    }
  }
  .gallery{
    position: center;
    width: 100%;
   }
  .gallery-2{
    width: 20%;

    height: 60px;
    margin: 0% 0%;
    padding: 0% 0%;
    margin-left: 12%;
    item{
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }
    a.carousel-control{
      margin-top: 5%;
    }

  }

  a.services{
    text-decoration: none;
  }
  #social1{


  float: right;
    margin-bottom: 30px;

  }
  .social-links{
      display: inline;
      width: 100%;
      text-align: right;
      height: 18px;
      padding-bottom: 3%;
      padding-right: 1%;
      color: white;
      a{
          color: white;
      }
  }


  #firsttop-sign{
    margin: 5%;
    margin-bottom: 0%;
  }

  .gray-page{

        background-color: #E9EEF4;
  }
  .yellow-page{

        background-color: #FAEBD6;
  }
  .what-page{

        background-color: #FFFFFF;
  }
  .business-page{

        background-color: #FFFFFF;
  }
  .events-page{

    background-color: #FFFFFF;
  }
  .page-last{
      min-height: 50%;
      background-color: #E8FBDB;
  }

  .page-divider
  {
      margin: top;
      background: white;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjUxNzI0MSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzg3ODc4NyIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjODc4Nzg3IiAvPjxyZWN0IHg9Ii0zNyUiIHk9Ii03NCUiIHdpZHRoPSIxNzQlIiBoZWlnaHQ9IjM0OCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
      background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 728, color-stop(51.7241%, #ffffff), color-stop(100%, #878787));
      background-image: -webkit-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -moz-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -ms-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: -o-radial-gradient(center bottom, farthest-side, #ffffff 90%, #878787 174%);
      background-image: radial-gradient(farthest-side at center bottom, #ffffff 90%, #878787 174%);
      padding: 1%;
  }

  .two-buttons{
      ul{
        margin-left: 0;
        li{
          margin-top: 5%;
          list-style-type: none;
        }
      }
    }

  .top-sign{
    font-family: 'topfont', sans-serif ;
    text-align: center;
    font-size: 200%;
    opacity: 0.7;
    line-height: 1.2;
  }


  .last-list{
    font-family:'topfont', sans-serif ;;
    line-height: 1.7;
    text-align: center;
    font-size: 160%;
    opacity: 0.7;
  }
  .video{
    text-align: center;
  }
  video{
    width: 70%;
//    height: 70%;
  }
  .video-text{

    width:60%;
    text-align: justify;
    width: 80% ;
    padding: 5% 10%;

  }
  .weight{
    font-weight: bold ;
  }

  .span6 img{
    width: 60%;
    height: 65%
  }
  .trade{
    width: 60%;
    height: 200%;
    float: right;
  }
  .trade-list{
    background-size:800px auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('trade_show.jpg');
    .trade_img{
      display: none;
    }
  }
  .trade-list a img.link-back{
    width:10%;
  }
  .red{
    color: red;
  }
  img.business-info{
    margin: 0 auto;
    margin-top: 20% ;
    width: 100%;
  }
  .top-sign.page-text{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-text{
    padding:5%;
    padding-top: 0%;
  }
  img.download{
    margin-top: 5%;
    width: 100%;
  }

  ul.dropdown-menu.button a img{
    border: none;

    width:100%;
  }
  .business-button{
      width: 150px;;
  }
  #business-img{
    margin: 0;
  }
  .business{
    margin-top: 8%;
  }
  a.btn.long-text{
    //display: none;
    //width: 100px;
    font-size: 85%;
  }
  .top-sign.page-text.business-page{
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .page-text.top-section.text-left.top-event{
    padding-left: 10%;
  }

}




@media(min-width:100px)and(max-width: 399px){

html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
   .custom-pg{
    width: 100%;
    min-height: 90%;
    }

    .page-divider{
    width: 98%;
    }
    .two-buttons{
      ul{

        li{
          display: inline;
          .mini-button{
            width:40%;
          }
        }

      }
    }
    .first-page{
     width: 100%;
     min-height: 90%;

      .divas1{
        width: 100%;
        display: block;
        vertical-align: middle;
          .divas2{
            padding: 0% 5%;
            width:90%;;
            height: 20%;
            text-align: center;
            margin: 0 auto;
             .phone{
               display: block;
                margin: 0 auto;
                width:240px;
                height: 110px;
              }
          }
      }
    }

  .social-links{
    margin-top: 15px;
    text-align: center;
  }
  .carousel.slide#myCarousel{

    margin: 0% 0%;
    padding: 0% 0%;
    position: absolute;
    display: block;
    height: 370px;
    top: 6px;
    right: 34px;
    height: 96px;
    width: 175px;
    background-color: gainsboro;
    .carousel-inner{

      width: 100;
      height:100%;
      .item{
        width: 100%;
        height:100%;
        img{
          margin:0 auto;
         max-width:100%;
         max-height:100%;
          height: 100% ;
        }
      }

    }
    a.carousel-control.right{
      right:0%;
    }
  a.carousel-control.left{
      left: 2px;
    }
  }
  #carousel2{
    .carousel-inner{
      height: 100%;
      width:100%;
      .item{
        width:  100%;
        height: 100%;
        img{
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    a.carousel-control{
      margin-top: -7%;

    }
  }
  a.btn, a.btn.long-text{
    font-size: 60%;
  }

  .business-page{
  // padding: 2% 2%;
    min-height: 90%;
    background-color: #FFFFFF;
  }
  .events-page{
  // padding: 1% 2%;
  // height:140% ;
    background-color: #FFFFFF;
  }
  .page-last{
    min-height: 50%;
  }

  .business, .text-event{
    text-align: justify;
    padding: 0% 5%;


  }
  #business-img{
    padding: 0 0;
    margin-left: 25px;
    width: 155px;
    max-height: 50%;
    height: auto;


  }
  #event-img{
    padding: 2% 2%;
    width: 30%;
    height:auto;
    float: left;
  }

  .top-sign, #firsttop-sign{

    font-size: 130%;


  }

  #firsttop-sign{
      margin: 0% 5%;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  .trade-list{
    background-size:60% auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: none;
    .span5.text-left.page-text{
      width: 100%
    }
    .trade_img{
      //display: block;

    }

  }
  img.download{
    margin-top: 5%;
    width: 100%;
    height: 25px
  }
  img.phone-button{
    margin-top: 5%;
    width: 100%;
  }
  img.business-info{

    height: 200px;
  }
  .span1.side-border{
    display: none;
  }
  .business-button{
    width: 30%;
  }

  }
}
@media(min-width:400px)and(max-width: 757px){

  html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: 100%;
    .first-page{
      .social-links#social1{
        margin-top: 8px;
      }

      .divas1{
        width: 100%;
        height: 90%;
        display: block;
        vertical-align: middle;
        .divas2{

          width: 390px;
          height: 250px;
          margin: 0 auto;
          .phone{
            width: 380px;
            height: 180px;
          }
        }
      }
    }
    .carousel.slide#myCarousel{
      margin: 0% 0%;
      padding: 0% 0%;
      position: absolute;
      display: block;
      height: 370px;
      top: 11px;
      right: 57px;
      height: 157px;
      width: 271px;
      background-color:gainsboro;
      .carousel-inner{

        //width: 100;
        //height:130%;
        .item{

          img{
            margin:0 auto;
            max-width:100%;
            max-height:100%;
            height: 100% ;
          }
        }

      }
      a.carousel-control.right{
        right:0%;
      }
      a.carousel-control.left{
        left: 2px;
      }
    }
    .carousel.slide#carousel2 a.carousel-control{
      margin-top: 5%;

    }

    .business-page{
     // padding: 2% 2%;
      min-height: 90% ;

    }
    .events-page{
     // padding: 1% 2%;
      min-height:90% ;

    }

    .what-page{
      min-height:90% ;
    }
    .page-last{
      min-height:60%;
    }

    .business, .text-event{
      text-align: justify;
      padding: 0% 5%;

    }
    #business-img{
      width: 40%;
      height: auto;
      padding: 0% 0% ;
    }
    #event-img{
      padding: 2% 2%;
      width: 40%;
      height:auto;
      float: left;
    }

    #social1{
      top: 5%;
    }


    #firsttop-sign{
      display: block;
      //margin-bottom: 10% ;
      //margin-top: 20%;
    }

    .trade-list{
      background-size:60% auto;
      background-position: right center;
      background-repeat: no-repeat;
      background-image: none;
      .span5.text-left.page-text{
        width: 100%
      }
      .trade_img{
        //display: block;
      }
    }
    img.business-info{
      margin-top: 0;
      padding-top: 60px;
    }
    .span1.side-border{
        display: none;
    }


  }
  a.btn.long-text{
    font-size: 90%;
  }


}

@media(min-width:768px)and(max-width: 950px){
  html,body,head,header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: 100%;

    .first-page{

      .divas1{
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;
        .divas2{

          width: 590px;
          height: 300px;
          margin: 0 auto;
          .phone{

            width: 580px;
            height: 280px;
          }
        }
      }
    }
    .carousel.slide#myCarousel{
      margin: 0% 0%;
      padding: 0% 0%;
      position: absolute;
      display: block;
      height: 370px;
      top: 22px;
      right: 90px;
      height: 230px;
      width: 413px;
      background-color: gainsboro;
      .carousel-inner{

        //width: 100;
        //height:130%;
        .item{

          img{
            margin:0 auto;
            max-width:100%;
            max-height:100%;
            height: 100% ;
          }
        }

      }
      a.carousel-control.right{
        right:0%;
      }
      a.carousel-control.left{
        left: 2px;
      }
    }

    #carousel2 a{
      margin-top: 2%;
    }
    .carousel.slide{
      margin-left:14.2%;
      padding-top: 19px;
      width: 72%;
      height: 87%;
      .carousel-inner{
        height: 100%;
        width: 101%;
      }
    }

   #business-img{
      margin-left: 10px;
      width: 50%;
      height: auto;
      padding: 0% 0% ;
    }
   #event-img{
      padding: 2% 2%;
      width: 100%;
      height: auto;
      float: left;
    }
    .business-page{
      min-height: 90% ;
    }
    .what-page{
      min-height: 90%;
    }
    .business{
      padding: 5%;
    }
    .page-last{
      min-height: 60%;
    }

   #social1{
      top: 5%;
   }
    .trade-list{
      background-size:60% auto;
      background-position: right center;
      background-repeat: no-repeat;
      background-image: none;
      .text-left.page-text.top-section, .span5.text-left.page-text{
        width: 100%
      }
      .trade_img{

      }
    }
    img.download{
      margin-top:0%;
      width: 100%;
    }
   .business-button,{
       width: 140px;
   }
   .span1.side-border{
       display: none;

   }
    a.btn.long-text{
      //display: none;
      //width: 100px;
      font-size: 80%;
    }

  }
  .span6.page-text.top-section{
    width: 100%;
  }
  .span4.trade_img.top-section{
    width: 100%;
    margin: 0 auto;
    .top-section-img{
      width: 50%;
    }
  }


}
@media(min-width:950px)and(max-width: 1200px){

  .body{
    .trade-list{

      background-size: 600px  auto;

      .trade_img{
        display: none;
      }
    }
 }
}


/*
Если ширина экрана менее 760 пикселей, таблица видоизменяется
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
#hopper-activity{
  /* Таблица больше не обычная таблица */
    table, thead, tbody,  td, tr {
      display: block;
    }

  /* Скрываем заголовки */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;

    }

    tr { border: 1px solid #ccc; }

    td {
      /* Ведет себя как строка */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Теперь как заголовок таблицы */
      position: absolute;
      /* Отступы сверху и слева */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

  /*
  Заголовки
  */
    td:nth-of-type(1):before { content: "User Name"; }
    td:nth-of-type(2):before { content: "Hop name"; }
    td:nth-of-type(3):before { content: "Task"; }
    td:nth-of-type(4):before { content: "create at"; }
    td:nth-of-type(5):before { content: "Commrnt"; }
    td:nth-of-type(6):before { content: "Likes"; }
    td:nth-of-type(7):before { content: "Photo"; }

  }
  tr th{
    display: none;
  }

}
