// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #e6e6e6;;
}
body{
  padding: 0px;
}
