#users_table td{
  height: 50px;
}
//.row-fluid>.span6{
//  width: 50%;
//}
@media(min-width:100px)and(max-width: 690px){
  fieldset.btn.profile .row-fluid>.span6 .row-fluid>.span6:first-child{
  width: 50%;
  float:left;
}

fieldset.btn.profile{
  border: none;


}
  table.table.table-condensed{
    font-size: 80%;

  }
}
//.row-fluid>.span6:second-child{
//
//}