<html >
<head>
</head>
<body>

<img src= 'http://cashhoppers.com/assets/template_1.jpg' >
<br />


<br />
<h3>WELCOME  CASHHOPPER!</h3>
<br />
<br />
You have created a CASHHOPPERS account for the <br />
following email address:
<br />
<br />
 <%= @user.email%>

<p>You can confirm your account email address by clicking the link below:</p>

<p><%= link_to 'Click here to confirm your account and  start hopping TODAY!', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br />
<br />
HAVE FUN AND KEEP HOPPING!
<br />
<br />
RIBBIT!
<br />
<br />
The HOPMASTER
<br />
<br />
<p>

</p>

</body>
</html>

