= javascript_include_tag 'modal_crud'

#modal-crud-window.modal.hide.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'false',overflow: 'hidden',  style: 'width: 50%; margin-left: -27%; height:75%'}
  .modal-header
    %button{ type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => true}
      ×
    %h3#modal-crud-label
  .modal-body{style:'height:80%'}