%ul.nav.nav-tabs.nav-stacked.non-print
  %li
    = link_to 'My page', user_path(current_user.id)
  %li
    = link_to 'Friends', friends_path
  %li
    = link_to 'Messages', messages_friends_list_path
  %li
    = link_to 'Hoppers activity (temp)', pages_hoppers_activity_path


