!!!
%html
  %head
    %title
      CashHoppers
    = stylesheet_link_tag 'application', controller_path, media: :all
    = javascript_include_tag 'application', controller_path
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = csrf_meta_tags
  %body
    =render partial:  "layouts/header"
    =yield
